:root{
    --primary: #F22738;
    --secondary: #A63247;
    --tertiary: #3E3740;
    --quaternary: #F2DDD0;
    --quinary: #F2F2F2;
}


*{
    padding: 5px;
    margin: 2px;
}

body{
    background: linear-gradient(132deg, var(--quinary ), var(--quaternary ));
    height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary);
}

h1 {
    font-size: 48px;
    color: var(--primary);
}

h2 {
    font-size: 36px;
    color: var(--secondary);
}
h3 {
    font-size: 24px;
    color: var(--secondary);
}
h4, h5, h6 {
    font-size: 18px;
    color: var(--secondary);
}


a, p {
    color: var(--secondary);
}

a {
    text-decoration: none;
}

span{
    text-align: center;
}

button {
    border-radius: 12px;
    background-color: var(--quaternary);
    color: var(--secondary);
    width: 150px;
    padding: 7px;
    transition: all 0.2s;
}

button:hover {
    background-color: var(--tertiary);
}

main{
    margin: 0 auto;
    text-align: center;
}

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 2px var(--tertiary);
}

footer {
    position: fixed;
    bottom: 5px;
}

/* || CLASSES */

.highscore_row{
    color: var(--tertiary);
}

#play_game_text, #show_scores_text{
    cursor: pointer;
}

#high_score{
    text-align: center;
    padding: 5px;
    margin: 5px;
}

#buttons{
    text-align: center;
    padding: 5px;
    margin: 5px;
}

#question{
    text-align: center;
    padding: 5px;
    margin: 5px;
    width: 100%;
}

#answers{
    text-align: center;
    padding: 5px;
    margin: 5px;
    width: 100%;
}

#feedback{
    text-align: center;
    margin-top: 5px;
}

#action_buttons{
    display: flex;
    justify-content: center;
}

#answers{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#player_table {
    margin: 0 auto;
    text-align: center;
}

#view_high_scores{
    cursor: pointer;
}